<h1>About</h1>
<p>We are O.M.E. We exist to help you find the perfect gear for your musical taste. Whether you're looking for that  new overdrive pedal you heard about, a vintage stratocaster, or a marked-down Vox that's gently used, we are here to help! </p>
