<%= alert %>
<div class="image-wrap">
	<%= image_tag("cme.jpg", class: "img-responsive cme-image") %>
	<%= image_tag("ome.png", class: "img-responsive ome-image hidden-xs") %>
</div>
<div class="welcome">
	<h1>Welcome to Olympia Music Exchange</h1>
	<h2>Your source for new, used, and vintage gear!</h2>
</div>
